@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  overflow-x: hidden;
}

body {
  background: linear-gradient(20deg, #3498db, #34495e, #e67e22);
}

.backgroundElement {
  background: linear-gradient(135deg, #2ecc71, #8e44ad);
  opacity: 0.5;
}

.App {
  text-align: center;
  min-height: 100vh;
  background: #2c3e50;
  max-width: 1000px;
  color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.App:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.input-btn {
  outline: 0;
  position: relative;
  display: inline-block;
  font-size: 20px;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #ffff00;
  background: #ffff00;
  color: #000;
  font-weight: 600;
  transition: box-shadow 0.3s ease-in-out, border-color 0.5s ease-in-out;
}

.input-btn:hover {
  background-color: #ffff00;
  color: #000;
  box-shadow: 0 0 5px #ffff00, 0 0 20px rgb(255 255 0 / 0.8),
    0 0 35px rgb(255 255 0 / 0.7), 0 0 50px rgb(255 255 0 / 0.6);
  border-color: #fff;
}

.input-btn:focus {
  background-color: #ff0000;
}

.danger-btn {
  outline: 0;
  position: relative;
  display: inline-block;
  font-size: 20px;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #ff0000;
  background: #ff0000;
  font-weight: 600;
  transition: box-shadow 0.3s ease-in-out, border-color 0.5s ease-in-out;
}

.danger-btn:hover {
  background-color: #ff0000;
  box-shadow: 0 0 5px #ff0000, 0 0 20px rgb(255 0 0 / 0.8),
    0 0 35px rgb(255 0 0 / 0.7), 0 0 50px rgb(255 0 0 / 0.6);
  border-color: #fff;
}

.danger-btn:focus {
  background-color: #ffff00;
  color: black;
  box-shadow: 0 0 5px #ff0000, 0 0 20px rgb(255 0 0 / 0.8),
    0 0 35px rgb(255 0 0 / 0.7), 0 0 50px rgb(255 0 0 / 0.6);
  border-color: #fff;
}
